services:
  servers:
    build: .
    ports:
      - "3000:3000"
      - "5000:5000/udp"
    networks:
      - servers_net
    depends_on:
      - mongo
  mongo:
    image: mongo:latest
    container_name: mongodb
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - mongo_net
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongo ${MONGO_HOSTNAME}:${MONGO_PORT}/test --quiet
      interval: 5s
      timeout: 10s
      retries: 10

networks:
  mongo_net:
    driver: bridge
  servers_net:
    driver: bridge

volumes:
  mongo_data:
    driver: local
